body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-areas:
    'nav header header'
    'nav main side'
    'footer footer side';
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

header, nav, main, aside, footer {
    background-color: steelblue;
    color: white;
    border: red solid 1px;
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
aside {
    grid-area: side;
}
footer {
    grid-area: footer;
}