body {
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    
}

.bg {
    background: url("background.jpg") center center;
    position: absolute;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(30px);
}

.loading-text {
    color: red;
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
}